---
import { Icon } from 'astro-icon/components';
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro Icon List</title>
	</head>
	<body>
		<h1>Astro Icon List</h1>
<div class="wrapper">

			<div class="iconcontainer"> <Icon name="career" width={100} height={100} />
			<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat, repudiandae consequuntur consectetur pariatur nihil enim accusantium quos neque maxime. Id molestias unde impedit dignissimos laudantium eius, nulla facilis. Voluptas, autem.</p>
			</div>

			<div class="iconcontainer"> <Icon name="design" width={100} height={100} />
			<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum, totam? Quas, veniam libero quaerat ipsa eos quasi est deserunt laboriosam, ullam, unde distinctio incidunt repellendus?</p>
			</div>

			<div class="iconcontainer"> <Icon name="coding" width={100} height={100} />
			<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio quibusdam ea vel amet ratione earum. Maxime repellendus cum recusandae ad dolor veritatis asperiores non! Iste, mollitia. Cum dolores quasi doloremque?</p>
			</div>

			<div class="iconcontainer"> <Icon name="resume" width={100} height={100} />
			<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde qui tenetur officiis ducimus, atque quam voluptatem recusandae animi voluptates asperiores ab pariatur magni doloremque dicta perspiciatis, possimus optio aspernatur necessitatibus.</p>
			</div>

			<div class="iconcontainer"> <Icon name="certificate" width={100} height={100} />
			<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem animi eveniet asperiores labore ad et debitis nesciunt molestias repellendus amet suscipit, vero voluptas repellat quas.</p>
			</div>
			

</div>

	</body>
</html>
